<?xml version='1.0' encoding='utf-8'?>
<widget id="org.roabc" version="2.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rock of Ages</name>
    <description>
        Rock of Ages Baptist Church
    </description>
    <author email="erik@optmedia.net" href="http://www.optmedia.net">
        Optmedia Brazil Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
    
        <plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />

	<!-- Requires cli-6.4.0 but we recommend using the latest version. -->
	<preference name="phonegap-version" value="cli-7.0.1" />

	<preference name="android-build-tool" value="gradle" />
	<preference name="android-minSdkVersion" value="15" />
    <preference name="android-targetSdkVersion" value="26" />
    

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*://*youtube.com" />
	<allow-navigation href="*://*vimeo.com" />
	<allow-navigation href="*://*roabc.org" />
	<allow-navigation href="*://*facebook.com" />
    <allow-navigation href="*://*bible.com" />

    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
        <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
        <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
        <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
        <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
        <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
        <splash platform="android" qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash platform="android" qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash platform="android" qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash platform="android" qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        </feature>
    </platform>
	
</widget>

